.app {
    transition: all 0.6s;
    height: 100%;
    padding-bottom: 100%;
    @include respond(tab-land) {
        height: 100%;
        padding-bottom: 100%;
    }

    &__light {
        background-color: $Very-Light-Grayish-Blue;
        color: $Very-Dark-Blue;
    }
    &__dark {
        background-color: $Very-Dark-Desaturated-Blue;
        color: $Very-Light-Grayish-Blue;
    }

    &__header {
        height: 35vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30%;
        @include respond(tab-port) {
            padding: 0 15%;
        }

        &--title {
            font-size: 5rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2rem;
            margin-top: -10rem;
        }
        &--dark {
            background-image: url(../../images/bg-desktop-dark.jpg);
        }
        &--light {
            background-image: url(../../images/bg-desktop-light.jpg);
        }
    }
}

.todolist {
    width: 40%;
    margin: 0 auto;
    border: 1px solid $Very-Dark-Blue;
    background-color: $Very-Dark-Blue;
    margin-top: -3rem;
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 1rem rgba($color: #000000, $alpha: 0.5);

    // background-color: yellow;
    @include respond(tab-port) {
        width: 70%;
    }
}
.center {
    color: $Very-Light-Grayish-Blue;
}
