.todo {
    position: relative;
    background-color: $Very-Dark-Blue;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    border-bottom: 2px solid $Very-Dark-Grayish-Blue;
    &__input {
    }
    &__label {
        &--completed {
            color: grey;
            text-decoration: line-through;
        }
    }

    &__btn {
        cursor: pointer;
        border: none;
        outline: none;
        color: $Dark-Grayish-Blue;
        background-color: $Very-Dark-Blue;
        font-size: 3rem;
    }
}
.greg {
    font-size: "2rem";
    margin-left: "2rem";
}
